---
layout: archive
author_profile: true
title: Amivah Enterprises
excerpt: We believe customer staisfaction leads to customer loyalty.
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/pixabay.jpg
---
<h2>Welcome to Amivah</h2>

<p>Amivah is an online retailer based in Dubai, U.A.E.</p> <p>Get the latest in high tech fasion from the many brands Amivah imports into the UAE each year. Built from the ground up by Natalie Hobbs this amazing and thriving enterprise has grown 100% YoY for the last five years.</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
